[user]
	name = Giles Alexander
	email = gga@overwatering.org
[core]
	excludesfile = ~/.gitignore_global

[alias]
	co = checkout
	ci = commit
	st = status
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  pr = pull --rebase
  pom = push origin master

[includeIf "gitdir:~/dev/anthemis/"]
  path = .gitconfig-anthemis