[submodule ".emacs.d/feature-mode"]
	path = .emacs.d/feature-mode
	url = https://github.com/michaelklishin/cucumber.el.git
[submodule ".emacs.d/emacs-color-theme-solarized"]
	path = .emacs.d/emacs-color-theme-solarized
	url = https://github.com/sellout/emacs-color-theme-solarized.git

[submodule ".emacs.d/magit"]
	path = .emacs.d/magit
	url = https://github.com/magit/magit.git
[submodule ".emacs.d/coffee-mode"]
	path = .emacs.d/coffee-mode
	url = https://github.com/defunkt/coffee-mode
[submodule ".emacs.d/markdown-mode"]
	path = .emacs.d/markdown-mode
	url = git://jblevins.org/git/markdown-mode.git
[submodule ".emacs.d/midje-mode"]
	path = .emacs.d/midje-mode
	url = https://github.com/dnaumov/midje-mode
