[submodule ".emacs.d/feature-mode"]
	path = .emacs.d/feature-mode
	url = https://github.com/michaelklishin/cucumber.el.git
[submodule ".emacs.d/clojure-mode"]
	path = .emacs.d/clojure-mode
	url = git://github.com/technomancy/clojure-mode.git
[submodule ".emacs.d/slime"]
	path = .emacs.d/slime
	url = git://github.com/nablaone/slime.git
[submodule ".emacs.d/emacs-color-theme-solarized"]
	path = .emacs.d/emacs-color-theme-solarized
	url = https://github.com/sellout/emacs-color-theme-solarized.git
